{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Torjägerliste</title>
    <link rel="stylesheet" href="{% static 'style_goals.css' %}">
    <link rel="icon" href="{% static 'img/feiern_muenchen.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-beige">
    <div class="logo">
        <img src="{% static 'img/feiern_muenchen.png' %}" alt="Logo">
    </div>
    <div class="overall-score">
        <p>Siege: {{ total_wins }}</p>
        <p>Niederlagen: {{ total_losses }}</p>
        <p>Tor Diff: {{ goal_difference }}</p>
    </div>
    <div class="wrapper">
        <div class="under-wrapper">
            <h1 class="title">Torjägerliste:</h1>
            <div class="cards">
                {% for player in top_scorers %}
                    <div class="card">
                        {% if player.profile_picture %}
                        <img src="{{ player.profile_picture.url }}" alt="{{ player.name }}" class=" card-image">
                        {% else %}
                        <img src="{% static 'img/feiern_muenchen.png' %}" alt="Profile" class="card-image">
                        {% endif %}
                        {% if player.total_goals %}
                        <p class="card-text">{{ player.name }} - {{ player.total_goals }} Tor{{ player.total_goals|pluralize:'e' }} in {{ player.matches_played }} Spiel{{ player.matches_played|pluralize:'en' }}</p>
                        {% else %}
                        <p class="card-text">{{ player.name }} - 0 Tore in Spiel{{ player.matches_played|pluralize:'en' }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="under-wrapper">
            <h1 class="title">Spiele:</h1>
            <div class="cards">
                {% for match in matches %}
                    <div class="card">
                        <p class="card-text">"<a href="match/{{ match.date|date:"d_m_Y" }}">{{ match.opponent }}</a>", Ergebnis: {{ match.total_goals }}:{{ match.counter_goals }}
                        {% if match.total_goals > match.counter_goals %}
                        <b class="result-w"><br />GEWONNEN</b>
                        {% elif match.total_goals < match.counter_goals %}
                        <b class="result-l"><br />VERLOREN</b>
                        {% else %}
                        <b class="result-r"><br />UNENTSCHIEDEN</b>
                        {% endif %}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</body>
</html>


