{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Torjägerliste</title>
    <link rel="stylesheet" href="{% static 'style_goals.css' %}">
    <link rel="icon" href="{% static 'img/feiern_muenchen.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-beige">
    <div class="logo">
        <a href="/goals">
        <img src="{% static 'img/feiern_muenchen.png' %}" alt="Logo">
        </a>
    </div>
    <div class="wrapper">
        {% if object.group_picture %}
        <div class="under-wrapper">
            <img src="{{ object.group_picture.url }}" alt="{{ player.name }}" class="group_picture">
        </div>
        {% endif %}
        <div class="under-wrapper">
            <h1 class="title">Spiel gegen {{ object.opponent }}:</h1>
            <p class="infos">Datum: {{ object.date|date:"d.m.Y" }}</p>
            <p class="infos">Ergebnis: {{ total_goals }} : {{ object.counter_goals }}</p>
            {% if object.report %}
            <p class="infos">Spielbericht:<br></p>
            <p class="player">{{ object.report|linebreaksbr }}</p>
            {% endif %}
            <p class="infos">Anwesende Spieler:</p>
            {% for goal in match_goals %}
                <p class="player">{{ goal.player.name }} - {{ goal.goals_scored }} Tor{{ goal.goals_scored|pluralize:'e' }}</p>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>


