{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="title" content="Adrian Mülthaler - Personal Website">
    <meta name="description" content="This is a personal website from Adrian Mülthaler, a student from Munich.">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/web_logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="bg bg-0">
    {% if request.path != "/" %}
    <a style="color: white; position: absolute; left: 15px; top: 15px;" href="/">
        <img alt="logo" style="width: 50px;" src="{% static 'img/web_logo_white.png' %}" />
    </a>
    {% endif %}

    {% block universe %}{% endblock %}
</div>

{% block content %}
{% endblock %}


<div class="content footer">
    <a target="_blank" href="https://github.com/nairdanus"><i class="fa fa-github"></i></a>
    <a href="/contact/"><i class="fa fa-envelope"></i></a>
    <a href="/open_pdf/"><i class="fa fa-file-pdf-o"></i></a>
</div>

</body>
</html>