{% load static %}
<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="title" content="Adrian Mülthaler">
    <meta name="description" content="Eine persönliche Seite von und über Adrian Mülthaler.">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Adrian Mülthaler</title>
    <link rel="icon" href="{% static 'img/web_logo.png' %}">
</head>

<body>

<div class="bg bg-1">
    <div class="name">
        <span>Adrian Mülthaler</span>
    </div>
</div>

<div class="content">
    <p>Hallo. Ich bin Adrian. Ich studiere Computerlinguistik und Informatik an der LMU in München.</p>
    <div class="lmu-logo">
        <a href="https://www.lmu.de" target="_blank">
            <img src="{% static 'img/lmu_logo.png' %}" alt="LMU-Logo" title="Besuche die LMU Home Page">
        </a>
    </div>
</div>

<div class="bg bg-2">
</div>

<div class="content">
    <p><b>Schwerpunkte meiner Interessen:</b></p>
    <br>
    <div class="interest_list">
        <ul>
            <li>Quantum Computing</li>
            <li>Machine Learning</li>
            <li>Natural Language Processing</li>
        </ul>
    </div>
</div>

<div class="bg bg-3">
</div>

<div class="content">
    <p><b>Kontaktieren Sie mich:</b><br>Momentan gar nicht, danke</p>
</div>

<div class="bg bg-4">
</div>

</body>
</html>