html, body {
    height: 100vh;
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: "Accanthis ADF Std";
    src: url("fonts/Accanthis-Std/OTF/AccanthisADFStd-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Accanthis ADF Std";
    src: url("fonts/Accanthis-Std/OTF/AccanthisADFStd-Bold.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Accanthis ADF Std";
    src: url("fonts/Accanthis-Std/OTF/AccanthisADFStd-Italic.otf") format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Accanthis ADF Std";
    src: url("fonts/Accanthis-Std/OTF/AccanthisADFStd-BoldItalic.otf") format('opentype');
    font-weight: bold;
    font-style: italic;
}

p {
    font-family: "Accanthis ADF Std", serif;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
        transform: rotate(0deg);
    }
    50% {
        background-position: 100% 100%;
        transform: rotate(180deg);
    }
    100% {
        background-position: 0% 0%;
        transform: rotate(360deg);
    }
}
.content {
    width: 100%;
    position: relative;
    background-color: rgb(171, 171, 171);
    padding: 5rem 0;
    font-size: 1.8em;
    line-height: 40px;
    text-align: center;
    overflow: hidden;

}
/* @media screen and (max-width: 500px) {
    .content::before {
        display: none;
    }
} */
/* .content::before {
    content: '';
    position: absolute;
    top: -50%;
    left: 30%;
    width: 40%;
    height: 200%;
    background: radial-gradient(
        farthest-corner at 50% 50%,
        rgba(225, 53, 231, 0.7) 20%,
        rgba(8, 4, 241, 0.7) 20%,
        rgb(235,113,13,0.7) 40%,
        rgba(233, 60, 7, 0.7) 60%,
        rgba(240, 4, 4, 0.7) 80%
        );
    z-index: -1;
    filter: blur(50px);
    border-radius: 100%;

    animation: gradientMove 10s linear infinite;
    background-size: 200% 200%;
    transform: translate(-50%, -50%) rotate(45deg);


} */

.content p {
    margin: 0 2rem;
}

.contact-wrapper > div {
    transition: 1s;
    margin: 10px auto;
    width: fit-content;
    :hover {
        color: white!important;
    }
}
.contact-wrapper:hover > div {
    background-color: #7e44c4;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 0 auto 0 auto;
}

.bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 65%;
}
.hero {
    height: 100%;
    background-color: black;
    background-image: url("img/hero.avif");
}
.bg-1 {
    background-color: #1844cb;
    background-image: url("./img/background_1.jpg");
}
.bg-2 {
    background-color: black;
    background-image: url("./img/background_2.jpg");
}
.bg-3 {
    background-color: #1297c7;
    background-image: url("./img/background_3.jpg");
}
.name{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}
.name span{
    display: inline-block;
    color: black;
    font-size: 3rem;
    font-family: Norasi,serif;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 0.5em 1em;
    background-color: rgba(134, 134, 134, 0.74);
}


.cv-content{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
}
.captcha-wrapper {
    background-color: #f7f7f7c3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}

.captcha-wrapper label {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.captcha-wrapper .captcha {
    width: 90%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.captcha-wrapper input {
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
    text-align: center;
}

.captcha-wrapper input:focus {
    border-color: #7e44c4;
    outline: none;
}

.captcha-wrapper input[type="hidden"] {
    display: none;
}

.captcha-form button {
    background-color: #7e44c4;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}

.captcha-form button:hover {
    background-color: #0056b3;
}

.captcha-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media screen and (max-width: 800px) {
    .captcha-wrapper {
        width: 90%;
        padding: 15px;
        transform: scale(1);
    }

    .captcha-wrapper .captcha {
        max-width: 80%;
        margin-bottom: 10px;
    }

    .captcha-form button {
        padding: 10px 20px;
    }
}



.iframe {
    width: 60%;
    height: 90%;
    position: absolute;
    left: 20%;
    top: 5%;
    @media screen and (max-width: 920px) {
        width: 95%;
        left: 2.5%;
        top: 20%;
        height: 80%;
    }
}

.footer{
    padding: 1rem 0 2.2rem 0;
    display: inline-flex;
    justify-content: space-evenly;
}
.footer::before {
    display: none;
}
.copyright {
    font-size: 1.2rem;
    position: absolute;
    margin: auto;
    bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #7e44c4;
}


.interest_list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    justify-content: center;

    @media screen and (max-width: 1305px) {
        grid-template-columns: 300px 300px;
    }
    @media screen and (max-width: 920px) {
        grid-template-columns: 300px;
    }
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
    > img {
        width: 100%;
        height: 100%;
    }
}

.flip-box-back {
    background-color: rgba(126,68,196,0.8);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    > p {
        color: white;
        font-size: 2rem;
        margin-top: 20px;
    }
}

.back-link {
    color: white;
    position: fixed;
    left: 0;
    top: 15px;
    > img {
        width: 5rem;
        animation: shake 2s 0.5;
    }
    > img:hover {
            animation: shake 2s infinite;
        }
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	50% {transform: translateX(0px);}
	25%, 75% {transform: translateX(15px);}
}

.white {
    color: white;
}
