.bg-beige {
    background-color: #f5f5dc;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
    @media screen and (max-width: 1305px) {
        display: contents;
    }
}

.under-wrapper {
    width: 50%;
    @media screen and (max-width: 1305px) {
        width: 100%;
    }
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 80px;
}

.overall-score {
    position: absolute;
    top: 0px;
    left: 100px;
}

.overall-score p {
    font-size: 1.2rem;
    line-height: 0.4;
}

.title {
    margin-top: 100px;
    margin-left: 50px;
    @media screen and (max-width: 500px) {
        margin-left: 10px;
    }
}

.cards {
    width: 60%;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    @media screen and (max-width: 1305px) {
        width: 90%;
    }
    @media screen and (max-width: 500px) {
        margin-left: 10px;
        width: 95%;
    }
}

.card {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
}

.card-text {
    font-size: 1.2rem;
    margin-left: 1rem;
    white-space: wrap;
}

.card-image {
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
}
.result-l {
    color: red;
}
.result-w {
    color: green;
}
.result-r {
    color: #4a4a4a;
}

.group_picture {
    margin-top: 100px;
    max-width: 100%;
}

.infos {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 50px;
    @media screen and (max-width: 500px) {
        margin-left: 10px;
    }
}

.player {
    font-size: 1.2rem;
    margin-top: 8px;
    margin-left: 80px;
    line-height: 0.7;
    @media screen and (max-width: 500px) {
        margin-left: 15px;
    }
}

.report {
    margin-left: 60px;
    margin-top: -20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.2rem;
    border: 1px dashed;
    width: 80%;
    @media screen and (max-width: 500px) {
        margin-left: 15px;
        width: 90%;
    }
}
