{% extends "master.html" %}
{% load static %}


{% block title %}Adrian Mülthaler{% endblock %}

{% block universe %}
    <div class="name">
        <span>Adrian Mülthaler</span>
    </div>
{% endblock %}

{% block content %}


<div class="content">
    {{ personal_description|linebreaks }}
</div>

<div class="bg bg-{{ bg1 }}">
</div>

<div class="content">
    <b>{{ interest_title|linebreaks }}</b>
    <br>
    <br>
    <div class="interest_list">
        {% for desc, img in interests.items %}
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        {% with 'img/'|add:img as image_static %}
                            <img src="{% static image_static %}" alt="">
                        {% endwith %}
                    </div>
                    <div class="flip-box-back">
                        <p>{{ desc }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="bg bg-{{ bg2 }}">
</div>

<div class="content contact-wrapper">
    <div>
        <b><a href="/contact/">
            {{ contact_text }}
        </a></b>
    </div>
</div>

<div class="bg bg-{{ bg3 }}">
</div>

{% endblock %}
