{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Geschenk für Kam</title>
  <link rel="stylesheet" href="{% static 'style_kam.css' %}">
</head>
<body>

  <section class="center-section">
    <h1>Ich wollte dir das schon seit langem schenken!</h1>
    <h3>Leider habe ich dafür sehr lange gebraucht :(</h3>
    <h2>Ich liebe Dich sehr Kam❤️</h2>
    <h1>Scroll runter</h1>
    <h2>In Ruhe, mit Ton schauen!</h2>
    <a href="#video-section" class="scroll-arrow"></a>
  </section>

  <section class="video-section" id="video-section">
    <div style="position: relative; width: 100%; height: 0; padding-top: 100.0000%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https://www.canva.com/design/DAGqN1YLekk/KJzqkmKCJr-uXib9-GLmaA/watch?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
  </section>


</body>
</html>
